{{ .BuyerName }}你好，

本封信件發自鏡週刊，告知您鏡週刊已接獲你此次的訂購需求，將進行後續出貨。
以下為您的訂單明細，若有問題請依據訂單編號向我們查詢，謝謝。

訂單資訊

- 訂單編號：{{ .MerchantOrderNo }}
- 訂單日期：{{ .PayTime }}
- 訂單內容：{{ .ItemDesc }}
- 訂單金額：{{ .PriceTotal }}元

顧客資訊

- 訂購人
    - 姓名：{{ .BuyerName }}
    - 電子信箱：{{.BuyerEmail}}
    - 聯絡電話：{{.CellPhone}}
- 收件人
    - 姓名：{{.RecName}}
    - 電子信箱：{{.BuyerEmail}}
    - 聯絡電話：{{.RecPhone}}
    - 通訊地址：{{.RecAddr}}
    - 派送備註：{{.RecRemark}}

注意事項

- 完成訂購後，開始寄送期數將由服務人員提供。
- 雜誌每週三出刊，將於週四(含)前完成寄送，若當週五仍未收到，請來電 02-6633-3882 查詢。
- 若需更址，請於週四中午12:00前來電，我們將於下週寄送新址。
- 雜誌如有下列情事者，同意訂戶退貨：
- 訂戶可依消費者保護法規定得於完成付款日起算七天猶豫期內主張退貨且可獲全額退款，如已開始配送，其處理說明如下：(1) 訂戶需支付作業手續費用。(2) 贈送的期數將不列入計算。


鏡週刊 敬上